@using Departments.ViewModels
@model LoginViewModel

<div>
    @using (Html.BeginForm("Login", "Authenticate", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        <input asp-for="ReturnUrl" value="@ViewBag.ReturnUrl" style="display:none"/>
        <div class="mb-4">
            <label asp-for="UserName"></label>
            <input asp-for="UserName"/>
        </div>
        <div class="mb-4">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password"/>
        </div>
        <button type="submit">Login</button>
    }
    @*<form method="post" asp-action="Login">
        
        <input asp-for="ReturnUrl" value="@ViewBag.ReturnUrl" style="display:none"/>
        <div class="mb-4">
            <label asp-for="UserName"></label>
            <input asp-for="UserName"/>
        </div>
        <div class="mb-4">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password"/>
        </div>
        <button type="submit">Login</button>
    </form>*@

</div>